/node_modules
/public/hot
/public/css/app.css
/public/js/app.js
/public/mix-manifest.json
/public/storage
/public/landing/video/
/scripts/src/gSheet/jsons/
public/uploads
/storage/*.key
/vendor
/files/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.lock
package-lock.json
.rnd
stripe.exe
composer.lock
composer.json