.list-group-flush>.list-group-item{
  background: transparent;
  color: #ffffff;
  font-size: 15px;
  border: 0;
  padding: 10px 15px !important;
}


.sidebar{
  padding: 0px 0 0;
}
.sidebar{
  width: 210px;
}
.sidebar .list-group-flush a.active{
    color: #52DEC1 !important;
}

.ss-msg-rply-black-dv h6 {
  font-weight: 400;
  padding-bottom: 5px;
}

.ss-msg-rply-black-dv {
  text-align: right;
}


.ss-msg-rply-black-dv p {
  background: black;
  display: inline-block;
  color: #fff;
  padding: 8px 16px;
  border-radius: 15px 0px 15px 15px;
}

.ss-msg-rply-black-dv span {
  display: block;
  font-size: 12px;
}