@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-Black.woff2") format("woff2"),
        url("fonts/NeueKabel-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-Bold.woff2") format("woff2"),
        url("fonts/NeueKabel-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-BlackItalic.woff2") format("woff2"),
        url("fonts/NeueKabel-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-BoldItalic.woff2") format("woff2"),
        url("fonts/NeueKabel-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel Book";
    src: url("fonts/NeueKabel-BookItalic.woff2") format("woff2"),
        url("fonts/NeueKabel-BookItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel Book";
    src: url("fonts/NeueKabel-Book.woff2") format("woff2"),
        url("fonts/NeueKabel-Book.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-ExtraBoldItalic.woff2") format("woff2"),
        url("fonts/NeueKabel-ExtraBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-ExtraBold.woff2") format("woff2"),
        url("fonts/NeueKabel-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-ExtraLight.woff2") format("woff2"),
        url("fonts/NeueKabel-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-ExtraLightItalic.woff2") format("woff2"),
        url("fonts/NeueKabel-ExtraLightItalic.woff") format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-Light.woff2") format("woff2"),
        url("fonts/NeueKabel-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-Italic.woff2") format("woff2"),
        url("fonts/NeueKabel-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-LightItalic.woff2") format("woff2"),
        url("fonts/NeueKabel-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-Medium.woff2") format("woff2"),
        url("fonts/NeueKabel-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-Thin.woff2") format("woff2"),
        url("fonts/NeueKabel-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-MediumItalic.woff2") format("woff2"),
        url("fonts/NeueKabel-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-Regular.woff2") format("woff2"),
        url("fonts/NeueKabel-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel";
    src: url("fonts/NeueKabel-ThinItalic.woff2") format("woff2"),
        url("fonts/NeueKabel-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Neue Kabel W01 Bold";
    src: url("fonts/600ab0b5dbeba51a9434c9461db82573.eot");
    src: url("fonts/600ab0b5dbeba51a9434c9461db82573.eot?#iefix")
            format("embedded-opentype"),
        url("fonts/600ab0b5dbeba51a9434c9461db82573.woff") format("woff"),
        url("fonts/600ab0b5dbeba51a9434c9461db82573.woff2") format("woff2"),
        url("fonts/600ab0b5dbeba51a9434c9461db82573.ttf") format("truetype"),
        url("fonts/600ab0b5dbeba51a9434c9461db82573.svg#Neue Kabel W01 Bold")
            format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.ss-hm-header-sec .nav-item a {
    font-family: "Neue Kabel";
    font-size: 20px;
    color: #323232 !important;
    padding: 0 15px !important;
}

.ss-log-div-sec ul {
    display: flex;
    list-style: none;
    gap: 26px;
    margin: 0;
}

.ss-log-div-sec a {
    text-decoration: none;
}

.ss-log-div-sec ul li:nth-child(2) a {
    background: #3d2c39;
    color: #ffedee;
    padding: 10px 30px;
    border-radius: 100px;
}
section.ss-hm-header-sec {
    box-shadow: 0px 4px 4px 0px #c8c8c829;
    padding: 5px 0;
}
.ss-log-div-sec a {
    font-size: 20px;
}

p {
    font-family: "Neue Kabel";
    margin-bottom: 0;
    color: #696969;
    font-size: 16px;
}

/*footer sec */

.ss-foot-sec {
    background: #3d2c39;
    padding: 50px 0 30px;
}

.ss-foot-log-div p {
    color: #fff;
    width: 90%;
    line-height: 20px;
    margin-top: 20px;
}

body {
    font-family: "Neue Kabel";
}

a {
    color: #000;
    text-decoration: none;
}

.ss-foot-link-sec h4 {
    font-size: 20px;
    color: #fff;
    padding-bottom: 2px;
}

.ss-foot-link-sec ul {
    list-style-type: none;
    padding: 0;
}

.ss-foot-link-sec a {
    color: #fff;
    font-size: 16px;
}

.ss-foot-link-sec li {
    line-height: 40px;
}

.ss-foot-scl-sec h4 {
    font-size: 20px;
    color: #fff;
    padding-bottom: 25px;
}

.ss-foot-scl-sec ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}
.ss-fot-scl-link .fa {
    background: #52dec1;
    width: 40px;
    color: #3d2c39;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 100px;
    line-height: 40px;
}
ul.ss-fot-scl-link {
    gap: 18px;
    margin-top: 35px;
}
.ss-fot-env-sec a {
    color: #fff;
    font-size: 18px;
}

.ss-foot-btm-sec p {
    color: #fff;
}

.ss-foot-btm-sec ul {
    display: flex;
    list-style: none;
    gap: 10px;
    float: right;
}

.ss-foot-btm-sec a {
    color: #fff;
}

section.ss-footer-botm {
    border-top: 1px solid #544551;
    padding-top: 40px;
}

section.ss-foot-btm-sign-sec {
    background: #006bc9;
    text-align: center;
    padding: 50px 0;
}

section.ss-foot-btm-sign-sec h2 {
    color: #fff;
    font-size: 48px;
    width: 72%;
    margin: auto;
    text-transform: capitalize;
}

section.ss-foot-btm-sign-sec a {
    background: #fff;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    padding: 9px 35px;
    border-radius: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}
h2 {
    font-size: 48px;
    font-family: "Neue Kabel W01 Bold";
}
.ss-downld-app-txt-hed h4 {
    font-size: 16px;
    position: relative;
    padding-left: 160px;
    margin-bottom: 12px;
}

span.ss-fnt-nrml {
    font-weight: 400;
}

.ss-downld-app-txt-hed h4:after {
    content: "";
    background: #3d2c39;
    width: 145px;
    height: 2px;
    left: 0;
    position: absolute;
    bottom: 0;
    margin: auto;
    top: 0;
}

.ss-downld-app-txt-hed h2 {
    line-height: 58px;
    text-transform: capitalize;
    /* font-weight: 500; */
    color: #3d2c39;
    padding-right: 38px;
    padding-bottom: 16px;
}

span.ss-clr-pink {
    color: #b5649e;
}

.ss-downld-app-txt-hed p {
    padding-right: 110px;
}

.ss-downld-ap-dv ul {
    display: flex;
    background: #f1f1f1;
    list-style: none;
    gap: 22px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
}

.ss-downld-ap-dv {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.ss-downld-ap-dv p {
    padding-right: 0;
    color: #3d2c39;
    font-family: "Poppins", sans-serif;
}

.ss-downld-ap-dv i {
    color: #3d2c39;
    font-size: 34px;
}

.ss-downld-ap-dv ul li:nth-child(1) {
    border-right: 1px solid #3d2c39;
    padding-right: 23px;
}

.ss-downld-ap-dv h6 {
    font-size: 16px;
    padding-top: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.ss-hm-dwnld-app-sec .row {
    align-items: center;
}

.ss-hm-hed-sec h4 {
    font-size: 16px;
    position: relative;
    padding-left: 160px;
    margin-bottom: 12px;
    color: #006bc9;
}

.ss-hm-hed-sec h4:after {
    content: "";
    background: #3d2c39;
    width: 145px;
    height: 2px;
    left: 0;
    position: absolute;
    bottom: 0;
    margin: auto;
    top: 0;
}
.ss-mn-value-sec .ss-hm-hed-sec h2 {
    text-transform: capitalize;
    width: 60%;
    color: #3d2c39;
}
section.ss-mn-value-sec {
    background: #fff8fd;
    padding: 40px 0;
}

.ss-feed-slid-bx {
    border: 2px solid #111011;
    box-shadow: 8px 8px 0px 0px #403b4be5;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 22px 15px;
    text-align: center;
    margin-top: 60px;
    width: 98%;
}
section.ss-hm-dwnld-app-sec {
    margin-top: 30px;
}
.ss-feed-slid-bx ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    color: #006bc9;
    gap: 7px;
    margin-top: 12px;
}
.ss-hm-img-abt img {
    width: 100%;
}

.ss-feed-slid-bx div {
    width: 93px;
    height: 93px;
    line-height: 114px;
    font-size: 53px;
    margin: auto;
    margin-top: -66px;
    color: #fff;
    border-radius: 100px;
    background: #52dec1;
}

.ss-feed-slid-bx h4 {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-top: 16px;
}

.ss-feed-slid-bx p {
    font-size: 15px;
}

.ss-feed-slid-bx img {
    width: 25px !important;
    position: relative;
    top: 38px;
    left: 30px;
}

button.owl-dot {
    margin: 0 5px;
    width: 20px;
    border-radius: 100px;
    height: 20px;
    background: #c5bbc2 !important;
}

.owl-dots {
    text-align: center;
}
button.owl-dot.active {
    border: 3px solid #52dec1 !important;
    background: #fff !important;
}

section.ss-hm-about-sec p {
    margin-top: 35px;
    font-size: 17px;
}

section.ss-hm-about-sec a {
    background: #3d2c39;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 100px;
    color: #fff;
    margin-top: 58px;
}

section.ss-what-we-ofr-sec {
    background: #3d2c39;
    padding: 40px 0;
}

section.ss-what-we-ofr-sec p {
    color: #fff;
}

section.ss-what-we-ofr-sec a {
    background: #52dec1;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 100px;
    color: #000;
    margin-top: 35px;
}

section.ss-what-we-ofr-sec h2 {
    padding-bottom: 20px;
    color: #fff;
    font-family: "Neue Kabel W01 Bold";
}

span.ss-whtol-sec {
    color: #b88ab0;
}

section.ss-what-we-ofr-sec h4 {
    color: #fff;
}

section.ss-what-we-ofr-sec h4:after {
    background: #fff;
}

.ss-hm-what-icn-bx {
    background: #fff;
    padding: 15px 8px;
    border-radius: 5px;
    text-align: center;
}

.ss-hm-what-icn-bx div {
    width: 80px;
    height: 80px;
    border: 2px;
    margin: auto;
    background: #52dec1;
    border-radius: 100px;
    margin-top: -52px;
    border: 2px solid #fff;
}

.ss-hm-what-icn-bx {
}

.ss-hm-what-icn-bx-mn {
    display: flex;
    gap: 20px;
    margin-top: 38px;
}

.ss-hm-what-icn-bx-mn p {
    color: #696969 !important;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
}

.ss-hm-what-icn-bx h6 {
    color: #b5649e;
    font-weight: 500;
    padding: 5px 0;
}

.ss-what-offer-div2 {
    text-align: center;
    gap: 18px;
    margin-top: 55px;
}

.ss-what-offer-div2 .ss-hm-what-icn-bx {
    width: 33%;
    display: inline-block;
    margin: 0 10px;
}

.ss-what-offer-div2 p {
    color: #696969 !important;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
}

.ss-what-we-ofr-sec .ss-hm-hed-sec p {
    padding-right: 50px;
    text-align: justify;
    line-height: 24px;
}

.ss-hm-banner-txt-bx h2 {
    font-size: 56px;
    line-height: 55px;
    position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
}

.ss-hm-banner-txt-bx p {
    font-size: 20px;
    color: #4d4d4d;
}

.ss-hm-banner-txt-bx ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-top: 40px;
    align-items: center;
}

.ss-hm-banner-txt-bx a {
    background: #3d2c39;
    padding: 9px 25px;
    display: inline-block;
    border-radius: 100px;
    font-size: 16px;
    color: #f8f8f8;
}

ul {
    padding: 0;
}

.ss-hm-banner-txt-bx h2:after {
    content: "";
    width: 500px;
    height: 13px;
    background: #cbefe6;
    position: absolute;
    bottom: 2px;
    right: 16px;
}

section.ss-hm-banner-sec {
    padding-left: 30px;
}

.ss-hm-banner-txt-bx ul li p {
    font-size: 15px;
}

ul.ss-ban-top-map-txt {
    box-shadow: 0px 100px 80px 0px #0000000d;
    background: #fff;
    border-radius: 5px;
    display: flex;
    list-style: none;
    gap: 16px;
    position: absolute;
    align-items: center;
    padding: 15px 22px;
    top: 103px;
}

ul.ss-ban-top-map-txt {
}

.ss-hm-baner-img-dv {
    position: relative;
}

.ss-hm-banner-sec .row {
    align-items: center;
}

.ss-hm-banner-sec {
    padding: 40px 0;
    overflow: hidden;
}

ul.ss-ban-top-map-txt2 {
    box-shadow: 0px 100px 80px 0px #0000000d;
    background: #fff;
    border-radius: 5px;
    display: flex;
    list-style: none;
    gap: 16px;
    position: absolute;
    align-items: center;
    padding: 15px 22px;
    bottom: 90px;
    right: 0px;
}

.ss-hm-about-sec {
    padding: 30px 0 50px;
}

.ss-hm-join-hed-tx-sec h6 {
    font-size: 16px;
    position: relative;
    padding-left: 160px;
    margin-bottom: 12px;
}

.ss-hm-join-hed-tx-sec h6:after {
    content: "";
    background: #3d2c39;
    width: 145px;
    height: 2px;
    left: 0;
    position: absolute;
    bottom: 0;
    margin: auto;
    top: 0;
}

.ss-hm-join-hed-tx-sec h2 {
    line-height: 44px;
    text-transform: capitalize;
    color: #3d2c39;
    font-size: 40px;
    padding-bottom: 16px;
    font-family: "Neue Kabel W01 Bold";
}

.ss-hm-join-hed-tx-sec h5 {
    font-size: 28px;
    font-weight: 500;
    font-family: "Neue Kabel W01 Bold";
}

.ss-hm-join-rit-p-sc p {
    font-size: 24px;
    line-height: 30px;
    color: #4d4d4d;
}

.ss-hmjoin-sec {
    background: #fff8fd;
    padding: 40px 0;
}

.ss-join-icon-div-sec {
    text-align: center;
}

.ss-join-icon-div-sec h5 {
    color: #b5649e;
    font-size: 16px;
    font-family: "Neue Kabel W01 Bold";
}

.ss-join-icon-div-sec p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.ss-hm-popu-jb-hed {
    text-align: center;
}

.ss-hm-popu-jb-hed h6 {
    position: relative;
    display: inline-block;
}

.ss-hm-popu-jb-hed h6:after {
    content: "";
    position: absolute;
    width: 163px;
    height: 2px;
    right: 125px;
    top: 8px;
    background: #006bc9;
}

.ss-hm-popu-jb-hed h6:before {
}

.ss-hm-popu-jb-hed h6:before {
    content: "";
    position: absolute;
    width: 163px;
    height: 2px;
    left: 125px;
    top: 8px;
    background: #006bc9;
}

.ss-hm-popu-jb-hed h2 {
    padding: 0 300px;
}

.ss-job-prfle-sec {
    box-shadow: 10px 10px 0px 0px #403b4be5;
    border: 2px solid #3d2c39;
    padding: 15px;
    border-bottom: 5px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.ss-job-prfle-sec:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 19px;
    background-image: url(../img/job-icon-bx-Vector.png);
    top: 12px;
    right: 12px;
}

.ss-job-prfle-sec ul {
    display: flex;
    list-style: none;
    margin-top: 8px;
    margin-bottom: 7px;
    gap: 9px;
}

.ss-job-prfle-sec ul li {
    background: #ffeeef;
    padding: 3px 11px;
    border-radius: 100px;
}

.ss-job-prfle-sec a {
    background: #ffeeef;
    padding: 3px 11px;
    border-radius: 100px;
    font-size: 13px;
    display: inline-block;
}

.ss-job-prfle-sec img {
    vertical-align: middle;
    position: relative;
    top: -3px;
}

.ss-job-prfle-sec h5 {
    font-style: italic;
    font-size: 15px;
}

.ss-job-prfle-sec h4 {
    font-size: 17px;
}

.ss-job-prfle-sec h6 {
    font-size: 15px;
    padding: 10px 0;
}

.ss-job-prfle-sec p {
    font-size: 15px;
    color: #b5649e;
    padding-bottom: 8px;
}

.ss-job-prfle-sec p span {
    color: #006bc9;
    font-size: 12px;
}
.ss-job-prfle-sec .icon_cards {
    width: 17px;
    height: 17px;
}

.ss-hm-popular-job-sec {
    padding: 40px 0;
}

.ss-hm-job-prfile-red-sec a {
    background: #3d2c39;
    color: #fff;
    padding: 12px 42px;
    display: inline-block;
    border-radius: 100px;
}

.ss-hm-job-prfile-red-sec {
    text-align: center;
    margin-top: 40px;
}

.ss-mobile-show {
    display: none;
}

.ss-hm-about-sec .ss-hm-hed-sec h4 {
    color: #1b1b1b;
}

/*home css end*/

/********* Explore Jobs*********/

.ss-ex-pg-srch-ban-sec {
    background: #fff8fd;
    padding: 40px 0;
}

.ss-expl-srch-bxhed .input-group {
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
    width: 86%;
    display: block;
}

.ss-expl-srch-bxhed input {
    border: 1px solid #3d2c39;
    width: 100%;
    padding: 13px;
    box-shadow: 10px 10px 0px 0px #3d2c39;
}

.ss-expl-srch-bxhed button {
    position: absolute !important;
    top: 0;
    right: 0px;
    background: transparent;
    color: #000;
    border: 0;
    bottom: 0;
    margin: auto;
}

#776974.ss-expl-srch-bxhed h6 {
    color: #b5649e;
    font-size: 16px;
}

.ss-expl-srch-bxhed h2 {
    font-family: "Neue Kabel";
}

.ss-expl-srch-bxhed p {
    font-size: 16px;
    color: #776974;
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 5px;
}

.ss-expl-srch-bxhed h6 {
    color: #b5649e;
    padding-bottom: 6px;
    font-size: 18px;
}
.ss-expl-pg-bn-ul-sc ul {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 15px;
    font-weight: 500;
    margin-bottom: 0;
}

.ss-expl-pg-bn-ul-sc h6 {
    font-size: 64px;
}

.ss-expl-pg-bn-ul-sc p {
    font-size: 20px;
    line-height: 23px;
    color: #151313;
}
.ss-expl-pg-bn-ul-sc {
    display: flex;
    gap: 70px;
    align-items: center;
}

.ss-ex-pg-srch-ban-sec .row {
    align-items: end;
}

.ss-expl-filtr-lft-dv-bx {
    border: 1px solid #3d2c391a;
    border-radius: 5px;
    padding: 15px;
}

.ss-expl-filtr-lft-dv-bx h5 {
    font-size: 32px;
    color: #1a2530;
    padding-bottom: 0;
}

.ss-expl-filtr-lft-dv-bx select {
    width: 100%;
    border-radius: 10px;
    padding: 12px 5px;
    box-shadow: 10px 10px 0px 0px #403b4be5;
    margin-top: 5px;
    border: 2px solid #3d2c39;
}

.ss-expl-filtr-lft-dv-bx label {
    font-size: 18px;
    margin-top: 8px;
    font-weight: 500;
    padding-bottom: 4px;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 8px 0 0;
    margin-bottom: 0;
}
ul.ks-cboxtags li {
    display: inline;
}
ul.ks-cboxtags li label {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 5px 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
}

ul.ks-cboxtags li label {
    padding: 7px 22px;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    color: #000;
}

/*ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}
*/
ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 1px solid #3d2c39;
    background-color: #3d2c39;
    color: #fff;
    transition: all 0.2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
    border: 2px solid #e9a1ff;
}

/* From here you can start to copy */

.calendar {
    padding: 8px;
    background: #ffffff;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid #333333;
    box-shadow: 0px 20px 40px rgba(59, 60, 56, 0.05);
}
.ui-datepicker {
    background: #ffffff;
    border-radius: 15px;
}
.ui-datepicker-header {
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    background: #31639c;
    margin-bottom: 10px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
}
.ui-datepicker-prev {
    float: left;
    margin-left: 12px;
}
.ui-datepicker-prev:after {
    transform: rotate(45deg);
    margin: -43px 0px 0px 8px;
}
.ui-datepicker-next {
    float: right;
    margin-right: 12px;
}
.ui-datepicker-next:after {
    transform: rotate(-135deg);
    margin: -43px 0px 0px 6px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
    border-color: #333333;
}
.ui-datepicker-title {
    text-align: center;
    font-size: 25px;
}
.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}
.ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    color: #31639c;
    margin-bottom: 5px;
    font-size: 18px;
}
.ui-state-default {
    display: block;
    text-decoration: none;
    color: #333333;
    line-height: 40px;
    font-size: 16px;
}
.ui-state-default:hover {
    color: #ffffff;
    background: #31639c;
    border-radius: 50px;
    transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
}
.ui-state-highlight {
    color: #ffffff;
    background-color: #31639c;
    border-radius: 50px;
}

.ui-state-active {
    color: #ffffff;
    background-color: #31639c;
    border-radius: 50px;
}
.ui-datepicker-unselectable .ui-state-default {
    color: #eee;
    border: 2px solid transparent;
}

.icon {
    margin-left: -30px;
    margin-top: 13px;
    color: #554752;
    font-size: 16px;
    position: relative;
    top: -3px;
}

.ss-explr-datepkr ul {
    list-style: none;
    display: flex;
    gap: 12px;
    overflow: hidden;
}

.ss-explr-datepkr input {
    margin-bottom: 10px;
    width: 95%;
    border: 2px solid #3d2c39;
    box-shadow: 5px 5px 0px 0px #403b4be5;
    border-radius: 12px;
}

/********* Explore Jobs*********/

/*********for-organizations*******/

.ss-for-emply-pg-ban-sec h2 {
    font-weight: 500;
    font-family: "Neue Kabel";
    font-size: 50px;
}
.ss-benefit-hed-sed {
    text-align: center;
}

.ss-benefit-hed-sed h6 {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

.ss-benefit-hed-sed h6:after {
    content: "";
    position: absolute;
    width: 163px;
    height: 2px;
    right: 155px;
    top: 8px;
    background: #006bc9;
}

.ss-benefit-hed-sed h6:before {
    content: "";
    position: absolute;
    width: 163px;
    height: 2px;
    left: 155px;
    top: 8px;
    background: #006bc9;
}

.ss-benefit-hed-sed h2 {
    text-transform: capitalize;
    width: 55%;
    margin: auto;
}

.ss-flower-img-div {
    margin-top: 50px;
}

.ss-benefit-emply-mn-sec {
    padding: 20px 0px;
}

.ss-for-recrutr-pg-ban-sec h2 {
    font-weight: 500;
    font-family: "Neue Kabel";
    font-size: 48px;
}

/*********OTP*******/

.ss-verification-mn-div {
    text-align: center;
}

.ss-verification-mn-div p {
    font-size: 17px;
    color: #3d2c39;
}

.ss-verification-mn-div h4 {
    font-size: 30px;
    color: #b5649e;
    padding-bottom: 20px;
}

ul.ss-otp-v-ul {
    list-style: none;
    width: 100%;
}

ul.ss-otp-v-ul li {
    width: 19%;
    margin: 0 7px;
    display: inline-block;
}

ul.ss-otp-v-ul input {
    border: 2px solid #111011;
    box-shadow: 8px 8px 0px 0px #403b4be5;
    padding: 12px 15px;
    border-radius: 10px;
    width: 100%;
}

.ss-verification-mn-div button {
    background: #3d2c39;
    border: 0;
    width: 100%;
    padding: 13px 20px;
    border-radius: 100px;
    color: #fff;
    margin-top: 12px;
}

.ss-verification-mn-div {
    width: 70%;
    padding-left: 60px;
    margin: auto;
}

ul.ss-otp-re-send {
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 15px;
}

ul.ss-otp-v-ul {
    padding: 0;
    margin-top: 30px;
}

ul.ss-otp-re-send li {
    width: 50%;
}

ul.ss-otp-re-send li:nth-child(2) {
    text-align: right;
}

ul.ss-otp-re-send li:nth-child(1) {
    text-align: left;
}

/*********about Us *****/

.ss-about-count-sec {
    background: #fff8fd;
    padding: 50px 0;
}

.ss-count-div {
    text-align: center;
}

.ss-about-count-sec h4 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 38px;
}

.ss-about-count-sec p {
    font-size: 18px;
    font-weight: 500;
}

.ss-abut-stry-hed h6 {
    font-size: 24px;
}

.ss-abut-stry-hed p {
    color: #000;
    margin-top: 15px;
}

section.ss-about-story-sec {
    padding: 40px 0;
}

section.ss-about-story-sec .row {
    align-items: center;
}

.ss-abt-miss-txt {
    margin-top: 40px;
}

.ss-team-div-sec {
    border: 2px solid #111011;
    box-shadow: 8px 8px 0px 0px #403b4be5;
    margin-bottom: 20px;
    padding: 40px 15px;
    text-align: center;
    margin-top: 40px;
    background: #fff;
}

.ss-team-div-sec h5 {
    font-size: 20px;
    padding: 15px 0 0;
    font-family: "Poppins", sans-serif;
}

.ss-our-tem-sec h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.ss-our-tem-sec {
    background: #fff8fd;
    padding: 40px 0;
}

/******job details******/
.ss-job-dtl-div.ss-job-prfle-sec h5 {
    position: absolute;
    right: 30px;
    bottom: 26px;
}

.ss-job-dtl-div.ss-job-prfle-sec .ss-apply-btn {
    font-size: 16px;
    background: #3d2c39;
    color: #fff;
    padding: 8px 80px;
    position: absolute;
    right: 49px;
}

.ss-abt-jb-div ul {
    display: flex;
    gap: 60px;
    margin-top: 10px;
}

.ss-abt-jb-div ul li {
    width: 20%;
    list-style: none;
}

.ss-abt-jb-div {
    margin-top: 30px;
}

.ss-abt-jb-div h6 {
    color: blue;
    font-size: 18px;
}

.ss-abt-jb-div h5 {
    font-size: 16px;
    color: #b5649e;
}

.ss-jb-dtl-disc-sec h6 {
    color: blue;
}

.ss-jbdtl-recrt h6 {
    color: blue;
}

.ss-jbdtl-recrt {
    margin-top: 20px;
}

.ss-jbdtl-recrt ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

section.ss-jb-dts-sec {
    background: #fff8fd;
    padding: 40px 0;
}

.ss-jb-dtl-popu-hed {
    display: flex;
    align-items: center;
}

.ss-jb-dtl-popu-hed li {
    width: 50%;
    list-style: none;
}

.ss-jb-dtl-popu-hed li:nth-child(2) {
    text-align: right;
}

.ss-jb-dtl-popu-hed a {
    background: #3d2c39;
    padding: 10px 40px;
    border-radius: 100px;
    color: #fff;
}

section.ss-jb-detlspopular {
    padding: 40px 0px;
}
#slider {
    margin-bottom: 30px;
}

#slider2 {
    margin-bottom: 30px;
}
.value {
    position: absolute;
    top: 15px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 40px;
    text-align: center;
    display: block;
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.price-range-both.value {
    width: 100px;
    margin: 0 0 0 -50px;
    top: 26px;
}

.price-range-both {
    display: none;
}

.value i {
    font-style: normal;
}
.ui-slider-range.ui-widget-header {
    background: #3d2c39;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #2ecaf9 !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #fff !important;
    border-radius: 50%;
    font-size: 14px;
    border: 2px solid #3d2c39;
}
span.ui-slider-handle.ui-corner-all.ui-state-default:focus {
    outline: none;
}

.ui-widget-content {
    background: #f4f6f7;
    color: #000000;
    height: 7px;
    border: 0;
}

button.ss-fliter-btn {
    border: 0;
    background: #3d2c39;
    padding: 10px 60px;
    color: #fff;
    font-size: 18px;
    width: 100%;
    border-radius: 100px;
}

.ss-fliter-btn-dv {
    margin-top: 25px;
}

.value2 {
    position: absolute;
    top: 15px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 40px;
    text-align: center;
    display: block;
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.ss-last-hour-sec-open {
    display: none;
}
.ss-this-week-open-dv {
    display: none;
}

ul.ss-explo-tab-btn-ul {
    margin: 0;
    list-style: none;
}

ul.ss-explo-tab-btn-ul li {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.ss-expl-jobs-box-mn-sec .ss-explo-tab-btn-ul {
    text-align: center;
}

ul.ss-explo-tab-btn-ul button {
    background: transparent;
    border: 2px solid #006bc9;
    padding: 5px 20px;
    color: #006bc9;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 500;
}

section.ss-explore-job-mn-sec {
    padding: 50px 0;
}

ul.ss-jb-dtl-btn {
    list-style: none;
}

ul.ss-jb-dtl-btn i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #000;
    border-radius: 100px;
    text-align: center;
}

ul.ss-jb-dtl-btn a {
    color: #fff;
}

ul.ss-jb-dtl-btn li:nth-child(2) {
    text-align: right;
}

ul.ss-jb-dtl-btn li {
    width: 50%;
}

ul.ss-jb-dtl-btn {
    display: flex;
}

ul.ss-jb-dtl-btn li:nth-child(2) i {
    background: #ffeeef;
    color: #3d2c39;
}

/***********admin login css********/

.ss-login-work-logo-div {
    text-align: center;
}

section.ss-login-work-sec {
    padding: 80px 0;
    position: relative;
    position: fixed;
    background: #fff8fd;
    width: 100%;
    height: 100%;
}

.ss-login-work-logo-div h4 {
    font-size: 30px;
}

.ss-login-work-logo-div {
    position: relative;
    z-index: 9;
}

.ss-login-work-logo-div span {
    color: #b5649e;
}

.ss-login-logo-dv {
    margin: 45px 0;
}

.ss-login-work-sec:after {
    content: "";
    width: 50%;
    background: #fdf5f5;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    margin: auto 0;
}

.ss-login-work-dv {
    text-align: center;
    position: relative;
    z-index: 99999;
}

.ss-login-work-dv input {
    border: 2px solid #111011;
    box-shadow: 8px 8px 0px 0px #403b4be5;
    padding: 12px 15px;
    border-radius: 10px;
    width: 60%;
}

section.ss-login-work-sec .row {
    align-items: center;
}
.ss-login-work-dv button {
    background: #3d2c39;
    width: 60%;
    border-radius: 100px;
    color: #fff;
    font-size: 18px;
    margin-top: 26px;
    padding: 10px 0;
}

.ss-login-work-dv h4 {
    font-size: 32px;
    margin-bottom: 35px;
}

.ss-login-work-dv span {
    color: #b5649e;
}

.ss-login-work-dv p {
    margin-top: 20px;
    font-size: 17px;
    color: #000;
}

.ss-login-work-dv a {
    color: #b5649e;
}

.ss-skipfor-div {
    margin-top: 100px;
    position: relative;
    top: 100px;
}

.ss-skipfor-div a {
    font-size: 18px;
    color: #000;
    font-style: italic;
    font-weight: 500;
}

.ss-login-work-logo-div p {
    font-size: 25px;
    color: #000;
    width: 80%;
    line-height: 30px;
    font-weight: 500;
    margin: auto;
    margin-bottom: 20px;
}

.ss-admin-login-sed .ss-login-logo-dv {
    margin-top: 0;
}
.ss-log-forgt-pass {
    text-align: right;
    width: 80%;
    margin-top: 12px;
}

.ss-log-forgt-pass a {
    color: #3d2c39;
    font-weight: 500;
    font-family: "Neue Kabel W01 Bold";
}
.ss-admin-login-sed .ss-form-group {
    margin-bottom: 14px;
}

.ss-admin-login-sed .ss-login-work-dv button {
    margin-top: 18px;
}

.ss-signup-worker-sec .ss-form-group {
    margin-bottom: 20px;
}

.ss-signup-worker-sec .ss-skipfor-div {
    top: 0;
    margin-top: 20px;
}

/***********media Screen Start*******************/
/***********media Screen Start*******************/

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .ss-mobile-show {
        display: block;
    }
    .ss-hm-popu-jb-hed h2 {
        padding: 0 0px;
    }
    h2 {
        font-size: 30px;
    }
    .ss-hm-baner-img-dv {
        display: none;
    }
    .ss-hm-header-sec .navbar .container-fluid {
        padding: 0;
    }
    .navbar-light .navbar-toggler {
        border: 0;
    }
    section.ss-hm-banner-sec {
        padding-left: 0;
    }
    .ss-hm-banner-txt-bx h2 {
        font-size: 40px;
        line-height: 44px;
        width: 85%;
        margin-bottom: 9px;
    }
    .ss-hm-banner-txt-bx h2:after {
        content: "";
        width: 165px;
        height: 13px;
        background: #cbefe6;
        position: absolute;
        bottom: 20px;
        right: 12px;
        z-index: -1;
    }

    .ss-hm-banner-txt-bx ul {
        list-style: none;
        display: block;
        margin-top: 25px;
    }

    .ss-hm-banner-txt-bx a {
        margin-bottom: 15px;
    }
    .ss-ban-mob-txt h2 {
        position: relative;
        padding-bottom: 20px;
    }

    .ss-ban-mob-txt h2:after {
    }

    .ss-ban-mob-txt h2:after {
        content: "";
        width: 193px;
        height: 13px;
        background: #cbefe6;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .ss-ban-mob-txt p {
        font-size: 24px;
        color: #4d4d4d;
        line-height: 36px;
        margin-top: 20px;
    }
    .ss-ban-mob-txt {
        margin-top: 30px;
    }
    .ss-app-img-dv {
        display: none;
    }
    .ss-hm-about-sec .ss-hm-hed-sec h4 {
        margin-top: 20px;
    }
    section.ss-hm-about-sec p {
        margin-top: 18px;
        font-size: 17px;
        text-align: justify;
    }

    .ss-hm-hed-sec h4 {
        padding-left: 125px;
        font-size: 15px;
    }
    .ss-hm-hed-sec h4:after {
        width: 110px;
    }
    section.ss-what-we-ofr-sec h2 {
        padding-right: 30px;
    }

    .ss-what-we-ofr-sec .ss-hm-hed-sec p {
        padding-right: 0;
    }

    .ss-hm-what-icn-bx p {
        color: #000 !important;
    }

    .ss-hm-what-icn-bx {
        margin-top: 90px;
    }

    section.ss-hmjoin-sec {
        display: none;
    }

    .ss-desktop-show {
        display: none;
    }

    .ss-hm-popu-jb-hed h6:after {
        width: 100px;
    }
    .ss-hm-popu-jb-hed h6:before {
        width: 100px;
    }

    .ss-downld-ap-dv {
        display: block;
    }
    .ss-job-prfle-sec a {
        font-size: 11px;
    }
    .ss-job-prfle-sec ul {
        margin-top: 0;
    }
    .ss-mn-value-sec .ss-hm-hed-sec h2 {
        width: 100%;
    }
    section.ss-foot-btm-sign-sec h2 {
        font-size: 28px;
        width: 100%;
    }

    .ss-foot-link-sec {
        margin-top: 40px;
        overflow: hidden;
    }

    .ss-foot-link-sec ul li {
        width: 35%;
        float: left;
    }

    .ss-foot-scl-sec {
        margin-top: 30px;
    }

    .ss-privacy-link-mob ul li {
        display: inline-block;
        margin-right: 24px;
        line-height: 40px;
    }

    .ss-privacy-link-mob ul li a {
        color: #fff;
        text-decoration: underline;
    }

    .ss-hm-header-sec .nav-item {
        line-height: 48px;
        border-bottom: 1px solid #e5e5e5;
    }
    .ss-log-div-sec ul {
        align-items: center;
    }
    .ss-hm-header-sec .nav-item a {
        font-family: "Neue Kabel";
        font-size: 17px;
        color: #323232 !important;
        padding: 0 2px !important;
    }

    .ss-log-div-sec ul li:nth-child(2) a {
        background: #3d2c39;
        color: #ffedee;
        padding: 6px 22px;
        font-size: 16px;
        border-radius: 100px;
    }

    /*********explore jobs***/

    section.ss-ex-pg-srch-ban-sec {
        display: none;
    }
    .ss-expl-filtr-lft-dv-bx {
        border-radius: 0;
    }

    section.ss-explore-job-mn-sec {
        padding: 15px 0;
    }

    section.ss-ex-pg-srch-ban-sec {
        display: none;
    }

    .ss-jobtype-dv {
        display: none;
    }

    .ss-explr-datepkr {
        display: none;
    }

    .ss-price-week-sec {
        display: none;
    }

    .ss-expl-jobs-box-mn-sec {
        display: none;
    }

    .ss-popularadd-job h2 {
        text-align: center;
    }

    .ss-popularadd-job {
        margin-top: 50px;
    }

    /*About Us-css*/

    .ss-abut-stry-img-dv img {
        width: 85%;
        margin: auto;
        text-align: center;
    }

    .ss-abut-stry-img-dv {
        text-align: center;
    }

    .ss-abut-stry-hed {
        margin-top: 30px;
    }

    section.ss-about-story-sec {
        padding: 0px 0 40px;
    }

    .ss-about-count-sec h4 {
        font-size: 20px;
    }

    .ss-count-div {
        text-align: center;
        margin-bottom: 40px !important;
    }

    .ss-for-emply-pg-ban-sec h2 {
        font-size: 30px;
    }
    .ss-ban-mob-txt h2 {
        font-size: 30px;
    }
    .ss-flower-img-div {
        text-align: center;
    }
    .ss-benefit-hed-sed h2 {
        width: 100%;
    }

    /********** Admin login*******/
    .ss-login-work-sec {
        position: relative !important;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
    .ipad {
        width: 100%;
    }
}
