@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-Black.woff2') format('woff2'),
        url('fonts/NeueKabel-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-Bold.woff2') format('woff2'),
        url('fonts/NeueKabel-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-BlackItalic.woff2') format('woff2'),
        url('fonts/NeueKabel-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-BoldItalic.woff2') format('woff2'),
        url('fonts/NeueKabel-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel Book';
    src: url('fonts/NeueKabel-BookItalic.woff2') format('woff2'),
        url('fonts/NeueKabel-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel Book';
    src: url('fonts/NeueKabel-Book.woff2') format('woff2'),
        url('fonts/NeueKabel-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/NeueKabel-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-ExtraBold.woff2') format('woff2'),
        url('fonts/NeueKabel-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-ExtraLight.woff2') format('woff2'),
        url('fonts/NeueKabel-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/NeueKabel-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-Light.woff2') format('woff2'),
        url('fonts/NeueKabel-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-Italic.woff2') format('woff2'),
        url('fonts/NeueKabel-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-LightItalic.woff2') format('woff2'),
        url('fonts/NeueKabel-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-Medium.woff2') format('woff2'),
        url('fonts/NeueKabel-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-Thin.woff2') format('woff2'),
        url('fonts/NeueKabel-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-MediumItalic.woff2') format('woff2'),
        url('fonts/NeueKabel-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-Regular.woff2') format('woff2'),
        url('fonts/NeueKabel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Kabel';
    src: url('fonts/NeueKabel-ThinItalic.woff2') format('woff2'),
        url('fonts/NeueKabel-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face{
    font-family: "Neue Kabel W01 Bold";
    src: url("fonts/600ab0b5dbeba51a9434c9461db82573.eot");
    src: url("fonts/600ab0b5dbeba51a9434c9461db82573.eot?#iefix")format("embedded-opentype"),
        url("fonts/600ab0b5dbeba51a9434c9461db82573.woff")format("woff"),
        url("fonts/600ab0b5dbeba51a9434c9461db82573.woff2")format("woff2"),
        url("fonts/600ab0b5dbeba51a9434c9461db82573.ttf")format("truetype"),
        url("fonts/600ab0b5dbeba51a9434c9461db82573.svg#Neue Kabel W01 Bold")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

body{
    font-family: 'Neue Kabel';
    background: #fff8fd;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 230px;
    padding-right: 30px;
    padding-bottom: 130px;
  }
}

.main_home{
    padding-top: 170px;
    padding-bottom: 130px;
}

p{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
    padding: 0;
}



/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
  background: #3d2c39;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  background: #fff8fd;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.fixed-bottom, .fixed-top{
  margin-left: 210px;
      box-shadow: none;
}

@media (max-width: 992px) {
    .fixed-bottom, .fixed-top {
        margin-left: 0;
        box-shadow: none;
    }
}

.list-group-flush>.list-group-item{
  background: transparent;
  color: #ffffff;
  font-size: 15px;
  border: 0;
  padding: 10px 15px !important;
}


.sidebar{
  padding: 0px 0 0;
}
.sidebar{
  width: 210px;
}


.ss-side-user-ul ul {
    display: inline-flex;
    list-style: none;
    gap: 14px;
    align-items: center;
    padding:0;
}

.ss-side-user-ul h4 {
    margin: 0;
    color: #fff;
}

.position-sticky {
    margin-top: 70px;
}
.ss-side-user-ul {
    margin-top: 20px;
    padding-left: 15px;
}

.ss-hed-serch .input-group-text {
    position: absolute;
    z-index: 999;
}

.ss-das-side-menu-sec img{
  margin-right: 10px;
  vertical-align: middle;
}

.ss-dash-logout-sec{
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}


.ss-dash-logout-sec a{
  background: #473743;
  width: 88%;
  display: inline-block;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  color: #fff;
}

.ss-dash-logout-sec img{
  vertical-align: middle;
  margin-left: 15px;
}

    .ss-dash-serch-bx .input-group{
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
    width: 90%;
    display: block;
    padding: 12px;
}

.ss-dash-serch-bx input{
    border: 2px solid #3D2C39 !important;
    width: 100%;
    padding: 10px !important;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    border-radius: 12px;
    background: #fff !important;
}


.ss-dash-serch-bx button{
    position: absolute !important;
    top: 0;
    right: 20px;
    background: transparent;
    color: #000;
    border: 0;
    bottom: 0;
    margin: auto;
}
.ss-dash-serch-bx .form-outline .form-control~.form-notch div{
    border: 0;
}

.ss-dash-hed-noti-divv {
    width: 100%;
    text-align: right;
    float: right;
}

.ss-dash-hed-noti-divv li {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.ss-dash-hed-noti-divv ul {
    margin: 0;
}

.ss-bell-sec{
        width: 40px;
        height: 40px;
        font-size: 18px;
        text-align: center;
        line-height: 40px;
        background: #3d2c39;
        color: #fff;
        border-radius: 100px;
}


.ss-dash-wel-div h5 {
    font-size: 25px;
    margin-bottom: 5px;
}

.ss-dash-wel-div p {
    color: #b5649e;
    font-size: 18px;
    margin: 0;
}

.ss-top-hed-cont-pd{
    padding: 0 25px;
}
.ss-bell-sec i{
        color: #52dec1;
}

span.badge.rounded-pill.badge-notification.bg-danger {
    width: 7px;
    line-height: 5px;
    height: 7px;
    background: #fff !important;
    border-radius: 100px !important;
    z-index: 9999;
    position: absolute;
    display: block;
    color: #fff !important;
    top: 14px;
    right: 13px;
    padding: 0;
}

.ss-hed-top-fixd {
    background: #fff8fd;
}
.ss-hed-top-fixd:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(../img/dashboard-back-after-img.png);
    width: 266px;
    height: 128px;
    z-index: -1;
}

/******Account profile css*******/


.ss-account-form-lft-1 {
    border: 2px solid #111011;
    border-radius: 30px;
    padding: 30px 40px;
    width: 90%;
    margin: auto;
    background: #fff;
}

.ss-account-form-lft-1 input,
.ss-account-form-lft-1 select {
    border: 2px solid #3D2C39 !important;
    width: 100%;
    padding: 10px !important;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    border-radius: 12px;
    background: #fff !important;
}

.ss-acount-prof {
    text-align: center;
}
button.ss-acunt-skip-btn {
    background: #fff;
}

button.ss-acunt-save-btn {
    background: #3d2c39;
    color: #fff;
}
.ss-account-form-lft-1 .ss-form-group {
    margin-bottom: 20px;
}

.ss-acount-prof {
    position: relative;
}

.ss-profil-camer-img {
    position: absolute;
    bottom: 3px;
    right: 0;
    width: 86%;
}

.ss-acount-prof {
    margin-bottom: 20px;
}

.ss-account-btns ul {
    gap: 15px;
    display: flex;
}

.ss-account-btns ul li {
    width: 100%;
    list-style: none;
}

.ss-account-btns button {
    width: 100%;
    padding: 7px;
    border-radius: 100px;
}

ul{
    padding: 0;
    margin: 0;
}

.ss-account-help-form-sec {
   padding: 10px 31px 30px;
    background: #fff;
}
.ss-help-supp-popup-mn-dv .modal-header{
position: absolute;
right: 0;
border: 0;
z-index: 9;
}
.ss-help-pop-sprt-text-mn-dv h4 {
    font-size: 32px;
    text-align: center;
    color: #3D2C39;
}

.ss-help-pop-sprt-text-dv ul {
    list-style: none;
    display: flex;
}

.ss-help-pop-sprt-text-dv ul li {
    width: 50%;
    font-size: 13px;
    color: #151313;
    font-weight: 500;
}
.ss-acnt-help-pendg-dv span {
    position: absolute;
    right: 15px;
    color: #939293;
    font-size: 12px;

}
.ss-help-pop-sprt-text-dv ul li:nth-child(2) {
    text-align: right;
    font-size: 11px;
    color: #a09fa0;
    font-weight: 400;
}

.ss-help-pop-sprt-text-dv h6 {
    font-size: 18px;
    color: #1A1D1E;
    margin-top: 8px;
}

.ss-help-pop-sprt-text-dv {
    margin-top: 12px;
}

.ss-help-pop-sprt-text-mn-dv {
    padding: 20px 30px;
}

.ss-account-help-form-sec select {
    border: 2px solid #3D2C39 !important;
    width: 100%;
    padding: 10px !important;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    border-radius: 12px;
    background: #fff !important;
}

.ss-account-help-form-sec textarea {
    border: 2px solid #3D2C39 !important;
    width: 100%;
    padding: 10px !important;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    border-radius: 12px;
    background: #fff !important;
    height: 120px;
}

.ss-account-help-form-sec h2 {
    text-align: center;
}

.ss-account-help-form-sec label {
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}

.ss-account-help-form-sec .ss-form-group {
    margin-top: 30px;
}


.ss-account-help-form-sec button {
    background: #3d2c39;
    width: 100%;
    padding: 12px;
    border-radius: 100px;
    color: #fff;
    font-size: 18px;
}

button.ss-del-btn {
    text-align: center;
}

.ss-delete-acnt-btn {
    margin: 40px 0;
    text-align: center;
}

.ss-delete-acnt-btn button {
    padding: 8px 100px;
    border-radius: 100px;
    color: #ff0000;
    background: #fff;
    border: 1px solid #ff0000;
    font-size: 18px;
    font-weight: 500;
}

.ss-delete-acnt-btn button:hover{
    background: #ff0000;
    color: #fff;
}


.ss-account-setting-form-sec {
    border: 2px solid #111011;
    border-radius: 30px;
    padding: 50px 30px 200px;
    width: 100%;
    margin: auto;
    background: #fff;
}

.ss-account-setting-form-sec button{
    font-weight: 500;
    width: 100%;
    border: 1px solid #3d2c39;
    background: #fff;
    margin: 10px 0;
    padding: 12px 12px 12px 15px;
    color: #3D2C39;
    text-align: left;
    position: relative;
    box-shadow: 10px 10px 0px 0px #403B4BE5;
    border-radius: 10px;
}

.ss-account-setting-form-sec button:after {
    content: "";
    position: absolute;
    background-image: url(../img/arrowcircleright.png);
    width: 16px;
    height: 17px;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.ss-account-setting-form-sec .active:after {
    background-image: url(../img/whitearrowcircleright.png);
}
.ss-account-setting-form-sec  .active {
    background: #3d2c39;
    color: #fff !important;
}
.ss-account-setting-form-sec h2 {
    text-align: center;
    padding-bottom: 10px;
    color: #3D2C39;
}
.ss-acnt-bouns-trnsfrm-mn-dv {
    border: 2px solid #111011;
    border-radius: 30px;
    padding: 30px 40px;
    width: 90%;
    margin: auto;
    background: #fff;
}

.ss-acnt-bouns-trnsfrm-mn-dv ul {
    list-style: none;
}

ul.ss-bnk-dtl-tr-hed {
    display: flex;
}

ul.ss-bnk-dtl-tr-hed li {
    width: 50%;
}

ul.ss-bnk-dtl-tr-hed li:nth-child(2) {
    text-align: right;
}

.ss-bank-paymt-div-bx {
        border: 2px solid #3D2C39 !important;
    width: 100%;
    padding: 10px !important;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    margin-top: 30px;
    border-radius: 14px;
    position: relative;
}

.ss-bank-paymt-div-bx ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ss-bank-paymt-div-bx a {
    color: #B5649E;
}

.ss-bank-paymt-div-bx p {
    color: #a09fa0;
    font-size: 12px;
}

.ss-bank-paymt-div-bx h5 {
    color: #52DEC1;
    font-size: 16px;
}

.ss-bank-paymt-div-bx h6 {
    padding: 2px 0 3px;
}

.ss-bank-paymt-div-bx span {
    position: absolute;
    right: 12px;
    top: 10px;
    color: #808080;
    font-size: 12px;
}


.ss-bank-popup-mode-div ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.ss-bank-popup-mode-div {
background: #FFEEEF;
    box-shadow: 10px 10px 0px 0px #403B4BE5;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #111011
}



.ss-bank-popup-mode-div input {
    border: 1px solid #d8d5d7;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}



.ss-bank-popup-mode-div ul li {
    width: 50%;
}

.ss-bank-popup-mode-div ul li:nth-child(2) {
    text-align: right;
}

.ss-bank-popup-mode-div ul li input {
    width: auto;
}

.ss-bank-deta-popup h2 {
    font-size: 32px;
    color: #3D2C39;
    text-align: center;
    padding-bottom: 20px;
}

.ss-bank-deta-popup .modal-header{
    position: absolute;
    right: 0;
    z-index: 9;
    border: 0;
}

.ss-bank-deta-popup .modal-body{
    padding: 30px 50px;
}

.ss-bank-popup-mode-div p {
    font-size: 18px;
    color: #1B1E28;
    font-weight: 500;
}

.ss-bank-popup-mode-div ul li img {
    position: relative;
    top: -4px;
    margin-right: 10px;
}

.ss-bank-popup-mode-div ul li input {
    width: 18px;
    height: 18px;
}

.ss-bank-or-span{
      font-size: 22px;
    text-align: center;
    display: block;
    margin-top: 20px;
    padding-bottom: 10px;
}

.ss-add-bank-dtl-ppl-dv {
    box-shadow: 10px 10px 0px 0px #403B4BE5;
    border: 1px solid #111011;
    border-radius: 15px;
 padding: 10px 15px;
}

.ss-add-bank-dtl-ppl-dv ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.ss-add-bank-dtl-ppl-dv ul li{
        width: 50%;
}
.ss-add-bank-dtl-ppl-dv ul li:nth-child(2) {
    text-align: right;
}

.ss-add-bank-dtl-ppl-dv  p {
    font-size: 18px;
    color: #1B1E28;
    font-weight: 500;
}

.ss-add-bank-dtl-ppl-dv ul li img {
    position: relative;
    top: -4px;
    margin-right: 10px;
}
.ss-add-bank-dtl-ppl-dv  input {
    border: 1px solid #d8d5d7;
    padding: 12px;
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
}

.ss-add-bank-dtl-ppl-dv ul li input {
    width: 18px;
    height: 18px;
}

.ss-bank-deta-popup .modal-body button{
    background: #3D2C39;
    width: 100%;
    padding: 10px;
    border-radius: 100px;
    margin-top: 20px;
    color: #fff;
}

.ss-acon-prfl-help-man-dv {
    border: 2px solid #111011;
    border-radius: 30px;
    padding: 30px 40px;
    width: 90%;
    margin: auto;
    background: #fff;
}

.ss-acon-prfl-help-man-dv ul {
    list-style: none;
    display: flex;
}

.ss-acon-prfl-help-man-dv h2 {
    color: #3D2C39;
    font-weight: 500;
    font-size: 32px;
}

.ss-acon-prfl-help-man-dv ul li:nth-child(2) a {
    text-align: right;
    display: inline-block;
    background: #b5649e;
    padding: 8px 25px;
    border-radius: 100px;
    color: #fff;
}

.ss-acon-prfl-help-man-dv ul li {
    width: 50%;
}

.ss-acon-prfl-help-man-dv ul li:nth-child(2) {
    text-align: right;
}

.ss-acnt-help-pendg-dv {
    border: 2px solid #3D2C39;
    box-shadow: 10px 10px 0px 0px #403B4BE5;
    padding: 16px;
    border-radius: 15px;
    margin-top: 20px;
    position: relative;
}

.ss-acnt-help-pendg-dv h6 {
    font-size: 18px;
    color: #1A1D1E;
    padding-bottom: 3px;
    font-weight: 500;
}

.ss-acnt-help-pendg-dv a {background: #B5649E;color: #fff;padding: 3px 25px;display: inline-block;border-radius: 100px;margin-top: 10px;}
.ss-acnt-help-complt-dv {
    border: 2px solid #3D2C39;
    box-shadow: 10px 10px 0px 0px #403B4BE5;
    padding: 16px;
    border-radius: 15px;
    margin-top: 25px;
}

.ss-acnt-help-complt-dv a {
    background: #52DEC1;
    color: #fff;
    padding: 3px 25px;
    display: inline-block;
    border-radius: 100px;
    margin-top: 10px;
}

.ss-help-supp-popup-mn-dv .ss-account-help-form-sec{
    margin-top: auto;
}

.ss-acon-prfl-help-man-dv,
.ss-acnt-bouns-trnsfrm-mn-dv{
display: none;
}

/*********account profile css  END*****/




/******explore jobs css********/

.ss-dsh-explre-jb-mn-dv {}

.ss-dash-explr-job-dv {
    border: 1px solid #3d2c39;
    border-radius: 24px;
    padding: 15px;
    background: #fff;
}

.ss-dash-explr-job-dv select , .ss-dash-explr-job-dv input {
    width: 98%;
    border-radius: 10px;
    padding: 12px 5px;
    box-shadow: 10px 10px 0px 0px #403B4BE5;
    margin-top: 5px;
    border: 2px solid #3D2C39;
}

.ss-dash-explr-job-dv label {
    font-size: 16px;
    margin-top: 15px;
    font-weight: 500;
    padding-bottom: 4px;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 8px 0 0;
    margin-bottom: 0;
}
ul.ks-cboxtags li{
  display: inline;
  width: 50%;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 5px 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 7px 22px;
    cursor: pointer;
    font-weight: 500;
    width: 48%;
    font-size: 13px;
    color: #000;
    text-align: center;
}


ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 1px solid #3D2C39;
    background-color: #3D2C39;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}






.ss-shift-type-inpy ul.ks-cboxtags {
    list-style: none;
    padding: 8px 0 0;
    margin-bottom: 0;
}
.ss-shift-type-inpy ul.ks-cboxtags li{
  display: inline;
}
.ss-shift-type-inpy ul.ks-cboxtags li label{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 5px 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

.ss-shift-type-inpy ul.ks-cboxtags li label {
    padding: 6px 18px;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    color: #000;
}

.ss-jobtype-dv.ss-shift-type-inpy label {
    width: auto;
}
.ss-shift-type-inpy ul.ks-cboxtags li input[type="checkbox1"]:checked + label {
    border: 1px solid #3D2C39;
    background-color: #3D2C39;
    color: #fff;
    transition: all .2s;
}

.ss-shift-type-inpy ul.ks-cboxtags li input[type="checkbox1"] {
  display: absolute;
}
.ss-shift-type-inpy ul.ks-cboxtags li input[type="checkbox1"] {
  position: absolute;
  opacity: 0;
}

.ss-auto-offer-dv label{
    color: #1A2530;
    font-weight: 500;
}

a.ss-jb-prfl-save-ico {
    position: absolute;
    right: 8px;
    top: 8px;
    background: transparent !important;
}



.ss-explr-datepkr ul {
    list-style: none;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.ss-explr-datepkr input{
    margin-bottom: 10px;
    width: 95%;
    border: 2px solid #3D2C39;
    box-shadow: 5px 5px 0px 0px #403B4BE5;
    border-radius: 12px;
}

.ss-date-with  li{width: 45%;margin-bottom: 15px;}

#slider{
    margin-bottom: 30px;
 }

 #slider2{
    margin-bottom: 30px;
 }
.value {
  position: absolute;
  top: 15px;
  left: 50%;
  margin: 0 0 0 -20px;
  width: 40px;
  text-align: center;
  display: block;
  font-weight: normal;
  font-family: Verdana,Arial,sans-serif;
  font-size: 14px;
  color: #333;
}

.price-range-both.value {
  width: 100px;
  margin: 0 0 0 -50px;
  top: 26px;
}

.price-range-both {
  display: none;
}
.value i {
  font-style: normal;
}
.ui-slider-range.ui-widget-header {
    background: #3d2c39;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    background: #2ecaf9 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #fff !important;
    border-radius: 50%;
    font-size: 14px;
    border: 2px solid #3d2c39;
}
span.ui-slider-handle.ui-corner-all.ui-state-default:focus {
    outline: none;
}
.ui-widget-content {
    background: #f4f6f7;
    color: #000000;
    height: 7px;
    border:0;
}


button.ss-fliter-btn {
    border: 0;
    background: #3d2c39;
    padding: 10px ;
    color: #fff;
    font-size: 18px;
    width: 100%;
    border-radius: 100px;
}
/* filter reset button */
span.ss-reset-btn {
    border: 1px #3d2c39 solid;
    cursor: pointer;
    background: #3d2c3998;
    padding: 10px ;
    text-align: center;
    color: #fff;
    font-size: 18px;
    width: 100%;
    border-radius: 100px;
}

/* terms multiselect */
.ss-prsnl-frm-terms ul {
    list-style-type: none;
    display: flex;
    gap: 22px;
    align-items: flex-start;
}
.ss-prsnl-frm-terms .terms-content ul {
    display: flex;
    align-items: center !important;
    margin-top: 8px;
} 
.ss-prsnl-frm-terms .terms-content ul li:nth-child(1) {
    width: 90%;
}
.ss-prsnl-frm-terms .terms-content ul li:nth-child(2) {
    width: 40%;
}



.ss-dash-explr-job-dv .ss-fliter-btn , .ss-dash-explr-job-dv .ss-reset-btn {
    margin-top: 20px;
}

.ss-dash-explr-job-dv h4{
    text-align: center;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
}

.ss-dsh-explre-jb-mn-dv h2 {
    padding-bottom: 18px;
}


.ss-job-prfle-sec {
    box-shadow: 10px 10px 0px 0px #403B4BE5;
    border: 2px solid #3D2C39;
    padding: 15px;
    border-bottom: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    background: #fff;
    cursor: pointer;
}
/*.ss-job-prfle-sec:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 19px;
    background-image: url(../img/job-icon-bx-Vector.png);
    top: 12px;
    right: 12px;
}*/

.ss-job-prfle-sec ul {
    display: flex;
    list-style: none;
    padding:5px 0;
    gap: 9px;
}

.ss-job-prfle-sec ul li{
    background: #FFEEEF;
    padding: 5px 11px;
    border-radius: 100px;
    display: inline-block;
    font-weight: 500;
    color: #3b71ca;
    height: fit-content;
}

@media (max-width: 375px) {
    .ss-job-prfle-sec a, .ss-job-prfle-sec ul li{
        font-size: 13px;
    }
}
@media (min-width: 375px) {
    .ss-job-prfle-sec a, .ss-job-prfle-sec ul li{
        font-size: 16px;
    }
}

.ss-job-prfle-sec a {
    background: #FFEEEF;
    border-radius: 100px;
    display: inline-block;
    font-weight: 500;
}

.ss-job-prfle-sec img {
    vertical-align: middle;
    position: relative;
    top: -3px;
}

.ss-job-prfle-sec h5 {
    font-style: italic;
    font-size: 17px;
    padding: 5px 0;
}

.ss-job-prfle-sec h4 {
    font-size: 18px;
    padding: 5px 0;
}

.ss-job-prfle-sec h6 {
    font-size: 15px;
    padding: 5px 0;
}

.ss-job-prfle-sec p {
    font-size: 17px;
    color: #B5649E;
    padding-bottom: 8px;
    line-height: 18px;
}

.ss-job-prfle-sec p span {
    color: #006BC9;
    font-size: 14px;
}

.ss-job-prfle-sec .icon_cards {
    width: 17px;
    height: 17px;
}


.ss-dash-profile-jb-mn-dv {
    width: 100%;
    margin: auto;
}




ul.ss-jb-dtl-btn {
    list-style: none;
}

ul.ss-jb-dtl-btn i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #000;
    border-radius: 100px;
    text-align: center;
}

ul.ss-jb-dtl-btn a {
    color: #fff;
}

ul.ss-jb-dtl-btn li:nth-child(2) {
    text-align: right;
}

ul.ss-jb-dtl-btn li {
    width: 50%;
}

ul.ss-jb-dtl-btn {
    display: flex;
}

ul.ss-jb-dtl-btn li:nth-child(2) i {
    background: #ffeeef;
    color: #3d2c39;
}

.ss-job-detls-left-div .ss-job-prfle-sec:after{
        background-image: url(../img/bookmark.png);
        width: 24px;
        height: 25px;
}


.ss-job-detls-left-div {
    padding: 25px;
    border: 1px solid #3d2c39;
    border-radius: 35px;
    background: #fff;
}

.ss-jb-dtl-icon-ul {
    padding-bottom: 30px;
}

.ss-job-dtls-view-bx h6 {
    color: #006bc9;
    font-size: 18px;
    padding-bottom: 10px;
}

.ss-job-dtls-view-bx {
    background: #fff;
    border: 1px solid #3d2c39;
    border-radius: 30px;
    padding: 25px 25px 70px;
}

.ss-job-dtls-view-bx ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.ss-job-dtls-view-bx h5 {
    color: #b5649e;
    font-size: 15px;
}

.ss-job-dtls-view-bx p {
    font-weight: 500;
}

.ss-jb-dtl-abt-txt {
    margin-top: 20px;
}

.ss-jb-dtl-disc-sec {
    margin-top: 26px;
}

.ss-jb-dtl-disc-sec p {
    font-weight: 500;
    font-size: 14px;
}

.ss-jb-dtl-disc-sec a {
    font-weight: 500;
}

.ss-jb-dtl-disc-sec p {
}

.ss-meditch-text-bx p {
    width: 80%;
}

.ss-meditch-text-bx {
    margin-top: 40px;
}

.ss-jb-dtl-abt-txt ul {
    gap: 80px;
}

.ss-jb-dtl-apply-btn{
    margin-top: 30px;
}
.ss-jb-dtl-apply-btn button{
    background: #3d2c39;
    width: 100%;
    border-radius: 100px;
    padding: 10px;
    font-weight: 18px;
    font-weight: 500;
    color: #fff;
}

.ss-displ-flex{
    display: flex;
}


.ss-with-apply-mn-div {
    padding: 25px;
    border: 1px solid #3d2c39;
    border-radius: 35px;
    background: #fff;
}

.ss-with-apply-img {
    padding-bottom: 100px;
    text-align: center;
    padding-top: 30px;
}

.ss-with-apply-mn-div button {
    width: 100%;
    padding: 10px;
    border-radius: 100px;
    margin-top: 15px;
}

button.ss-yes-go-btn {
    border: 1px solid #3d2c39;
    background: #fff;
    font-weight: 500;
}

button.ss-apply-btn {
    background: #3d2c39;
    color: #ffff;
    font-weight: 500;
}

.ss-home-graph-div1 img {
    width: 100%;
}

.ss-home-graph-div3 img{
    width: 100%;
    margin-top: 50px;
}


/**************message css****************/

.ss-messg-left-box {
    border-radius: 30px;
    border: 1px solid #3d2c39;
    padding: 30px;
    background: #fff;
}

.ss-mesg-sml-div {
    display: flex;
    border: 2px solid #3D2C39 !important;
    width: 100%;
    padding: 10px !important;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    border-radius: 12px;
    margin-top: 25px;
    background: #fff !important;
}

ul.ss-msg-user-ul-dv {
    display: flex;
    list-style: none;
    gap: 15px;
}

.ss-mesg-sml-div ul {
    list-style: none;
    align-items: center;
}

ul.ss-msg-user-ul-dv li {
    position: relative;
}

ul.ss-msg-user-ul-dv li:nth-child(1):after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background: #0fe16d;
    border-radius: 100px;
    right: 0;
    bottom: 0;
}

.ss-mesg-sml-div h5 {
    font-size: 16px;
}

ul.ss-msg-user-ul-dv p {
    font-size: 15px;
}

.ss-mesg-sml-div ul:nth-child(1) {
    width: 78%;
}

.ss-mesg-sml-div p {
}

.ss-messg-left-box span {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    background: #006bc9;
    display: block;
    border-radius: 100px;
    color: #fff;
    font-weight: 500;
}

.ss-msg-notifi-sec p{
    font-family: 'Poppins', sans-serif;
    color: #b5649e;
    font-size: 14px;
    font-weight: 500;
}


ul.ss-msg-notifi-sec li:nth-child(2) {
    text-align: right;
    float: right;
}

ul.ss-msg-notifi-sec {
    text-align: right;
    float: right;
}

.ss-messg-left-box h2 {
    color: #000;
}

ul.ss-msg-notifi-sec li {
    float: right;
}

.ss-mesg-sml-div ul:nth-child(2) {
    width: 22%;
}

.ss-msg-rply-mn-div {
    border-radius: 30px;
    border: 1px solid #3d2c39;
    padding: 30px;
    background: #fff;
}

.ss-msg-rply-mn-div ul {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
}

.ss-msg-rply-profile-sec {
    border-bottom: 2px solid #b8b7b8;
}

.ss-msg-rply-profile-sec p {
    font-size: 14px;
    color: #000;
}

.ss-msgrply-tody {
    text-align: center;
    padding-top: 20px;
}

.ss-msgrply-tody p {
    font-family: 'Poppins', sans-serif;
}

.ss-msg-rply-blue-dv h6 {
    font-weight: 400;
    padding-bottom: 5px;
}

.ss-msg-rply-blue-dv {
    text-align: right;
}


.ss-msg-rply-blue-dv p {
    background: #006bc9;
    display: inline-block;
    color: #fff;
    padding: 8px 8px 8px 70px;
    border-radius: 15px 0px 15px 15px;
}

.ss-msg-rply-blue-dv span {
    display: block;
    font-size: 12px;
}

.ss-msg-rply-recrut-dv h6 {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 5px;
}

.ss-msg-rply-recrut-dv p {
    background: #3d2c39;
    color: #fff;
    padding: 8px 60px 8px 30px;
    border-radius: 0px 14px 15px 15px;
    display: table;
    margin-top: 5px;
    margin-bottom: 4px;
}

.ss-msg-rply-recrut-dv span {
    display: block;
    font-size: 12px;
}

.ss-msg-rply-admin-dv h6 {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 5px;
}

.ss-msg-rply-admin-dv p {
    background: rgb(181, 100, 158);
    color: #fff;
    padding: 8px 60px 8px 30px;
    border-radius: 0px 14px 15px 15px;
    display: table;
    margin-top: 5px;
    margin-bottom: 4px;
}

.ss-msg-rply-admin-dv span {
    display: block;
    font-size: 12px;
}


.ss-msg-rply-black-dv h6 {
    font-weight: 400;
    padding-bottom: 5px;
}

.ss-msg-rply-black-dv {
    text-align: left;
}


.ss-msg-rply-black-dv p {
    background: black;
    display: inline-block;
    color: #fff;
    padding: 8px 16px;
    border-radius: 15px 0px 15px 15px;
}

.ss-msg-rply-black-dv span {
    display: block;
    font-size: 12px;
}

.ss-rply-msg-input input {
    border: 2px solid #534f5d;
    padding: 8px 15px;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    border-radius: 10px;
    width: 100%;
}



.ss-displ-flex {
    display: inline-grid;
}

.ss-message-pg-mn-div{
    padding-bottom:50px;
}

.ss-rply-msg-input button {
    position: absolute;
    right: 6px;
    top: 0;
    bottom: 3px;
    background: transparent;
    border: 0;
    margin: auto;
}


/******my work journy*********/

.ss-mywrk-jrny-left-dv .ss-jb-dtl-btn li:nth-child(2) {
    text-align: left;
}

.ss-mywrk-jrny-left-dv .ss-jb-dtl-icon-ul ul li {
    width: 12%;
}

.ss-mywrk-jrny-left-dv .ss-jb-dtl-btn li:nth-child(3) {
    width: 75%;
    text-align: right;
}

.ss-mywrk-jrny-left-dv ul {
    align-items: center;
}

.ss-mywrk-jrny-left-dv .ss-jb-dtl-btn li:nth-child(3) a i {
    background: #ffeeef;
    color: #000;
}

.ss-mywrk-jrny-left-dv .ss-jb-dtl-icon-ul h5 {
    font-size: 22px;
}

.ss-mywrk-jrny-left-dv {
    padding: 25px;
    border: 1px solid #3d2c39;
    border-radius: 35px;
    background: #fff;
}

.ss-my-work-tab-div ul {
    list-style: none;
    gap: 15px;
}

ul {}

.ss-my-work-tab-div ul li {
    display: inline-block;
    margin: 0 11px;
}

.ss-my-work-tab-div {
    text-align: right;
}

.ss-my-work-tab-div a {
    color: #8b7e87;
    font-size: 18px;
}


.ss-my-work-tab-div ul {
    list-style: none;
    gap: 15px;
}


.ss-my-work-tab-div ul li {
    display: inline-block;
    margin: 0 11px;
}

.ss-my-work-tab-div {
    text-align: right;
    position: relative;
}

.ss-my-work-tab-div a {
    color: #8b7e87;
    font-size: 18px;
}

.ss-my-work-jorny-btn-dv h6 {
    color: #000;
}

.ss-my-work-jorny-btn-dv {
    padding-bottom: 25px;
}

.ss-my-work-jorny-btn-dv .row {
    vertical-align: bottom;
    align-items: end;
}

.ss-journy-svd-jbdtl-dv .ss-jb-dtl-apply-btn {
    margin-top: 60px;
}

a.ss-jnry-app-btn {
    background: #3d2c39;
    color: #fff;
    position: absolute;
    right: 20px;
    padding: 6px 24px;
}

.ss-my-wrk-apply-mn-sec .ss-job-prfle-sec:after{
background-image: url(../img/bookmark.png);
width: 24px;
height: 25px;
}

.ss-work-ofrd-jb-icon a {
    margin: 0;
    padding: 0px 3px;
    background: transparent;
}

.ss-work-ofrd-jb-icon {
    position: absolute;
    right: 8px;
}

.ss-work-ofrd-jb-icon ul {
}


.ss-my-wrk-apply-mn-sec {
    display: none;
}

.ssmy-jorey-offred-mn-sec {
    display: none;
}

.ss-my-work-jorny-hired {
    display: none;
}

.ss-my-jorney-past-mn-sec {
    display: none;
}


/**************my Profile css**********/

.ss-my-profil-div {
    border-radius: 30px;
    border: 1px solid #3d2c39;
    padding: 30px;
    background: #fff;
}

.ss-my-profil-img-div {
    text-align: center;
}

.ss-profil-complet-div ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.ss-profil-complet-div p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.ss-profil-complet-div h6 {
    font-size: 18px;
    padding-bottom: 3px;
}

.ss-my-profil-div h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 21px;
}

.ss-profil-complet-div {
    margin-top: 20px;
}

.ss-my-profil-img-div h4 {
    margin-top: 15px;
}

.ss-pink-color{
    color: #b5649e;
}



.ss-my-prsnl-wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 22px 0px;
  border-radius: 15px;
  box-shadow: 10px 10px 0px 0px #534f5d;
  cursor: pointer;
  padding: 12px 10px;
  border: 2px solid #3d2c39;
  transition: all 0.3s ease;
}
.ss-my-prsnl-wrapper .option .dot{
  height: 20px;
  width: 20px;
  background-image:url(../img/tickcircle.png);
  border-radius: 50%;
  position: relative;
}
.ss-my-prsnl-wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 18px;
  height: 19px;
  background-image:url(../img/tickcircle1.png);
  border-radius: 50%;
  opacity: 0;
  /* transform: scale(1.5); */
  /* transition: all 0.3s ease; */
}
.ss-my-prsnl-wrapper input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3,
#option-4:checked:checked ~ .option-4,
#option-5:checked:checked ~ .option-5{
  border-color: #3d2c39;
  background: #3d2c39;
}

#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot,
#option-4:checked:checked ~ .option-4 .dot,
#option-5:checked:checked ~ .option-5 .dot{
  background: #3d2c39;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before,
#option-4:checked:checked ~ .option-4 .dot::before,
#option-5:checked:checked ~ .option-5 .dot::before{
  opacity: 1;
  /* transform: scale(1); */
}
.ss-my-prsnl-wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}

.ss-my-prosnl-rdio-btn ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 89%;
}

.ss-my-prosnl-rdio-btn ul li {
    color: #000;
}

.ss-my-prosnl-rdio-btn ul li:nth-child(1) {
    width: 7%;
}

.ss-my-prosnl-rdio-btn ul li:nth-child(2) {
    width: 90%;
}

.ss-my-prosnl-rdio-btn ul li:nth-child(3) {
    width: 10%;
}

.ss-my-prosnl-rdio-btn img {
    vertical-align: middle;
    position: relative;
    top: -2px;
}

#option-1:checked:checked ~ .option-1 .img-white img {
    filter: brightness(0) invert(1);
}

#option-2:checked:checked ~ .option-2 .img-white img {
    filter: brightness(0) invert(1);
}

#option-3:checked:checked ~ .option-3 .img-white img {
    filter: brightness(0) invert(1);
}

#option-4:checked:checked ~ .option-4 .img-white img {
    filter: brightness(0) invert(1);
}

#option-5:checked:checked ~ .option-5 .img-white img {
    filter: brightness(0) invert(1);
}

#option-1:checked:checked ~ .option-1 li, #option-2:checked:checked ~ .option-2 li, #option-3:checked:checked ~ .option-3 li, #option-4:checked:checked ~ .option-4 li,#option-5:checked:checked ~ .option-5 li{
color: #fff;
}


/*******persnl form***********/

.ss-pers-info-form-mn-dv {
    border-radius: 30px;
    border: 1px solid #3d2c39;
    padding: 30px;
    background: #fff;
}

.ss-pers-info-form-mn-dv .ss-form-group label {
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.ss-pers-info-form-mn-dv .ss-form-group input {
    border: 2px solid #3D2C39 !important;
    width: 100%;
    padding: 10px !important;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    border-radius: 15px;
    font-weight: 500;
    font-size: 15px;
}

.ss-pers-info-form-mn-dv .ss-form-group select,
.ss-pers-info-form-mn-dv .ss-form-group .select-btn ,
.ss-pers-info-form-mn-dv .ss-form-group .list-items{
    border: 2px solid #3D2C39 !important;
    width: 100%;
    padding: 10px !important;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    border-radius: 12px;
    font-weight: 500;
    font-size: 15px;
}

.ss-pers-info-form-mn-dv .ss-form-group {
    margin-top: 22px;
}

.ss-form-group.ss-prsnl-frm-specialty ul {
    list-style-type: none;
    display: flex;
    gap: 22px;
    align-items: flex-end;
}

.ss-form-group.ss-prsnl-frm-specialty ul li:nth-child(1) {width: 90%;}

.ss-form-group.ss-prsnl-frm-specialty select {
    margin-bottom: 22px;
}

.ss-prsn-frm-plu-div i {
    background: #3d2c39;
    width: 65px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    border-radius: 14px;
}

.ss-professional-license-div h6 {
    text-align: center;
}

.ss-professional-license-div {
    margin-top: 25px;
}

.ss-prsn-form-btn-sec button {
    width: 49%;
    padding: 8px;
    border-radius: 100px;
}

.ss-prsn-form-btn-sec {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.ss-ss-licens-check {
    margin-top: 20px;
    text-align: right;
}

button.ss-prsnl-skip-btn {
    background: transparent;
    border: 2px solid #3d2c39;
}

button.ss-prsnl-save-btn {
    color: #fff;
    background: #3d2c39;
}

.ss-persnl-frm-hed p {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}

.ss-persnl-frm-hed img {
    vertical-align: middle;
    position: relative;
    top: -3px;
    margin-right: 3px;
}

.ss-persnl-frm-hed .progress{
--mdb-progress-bg: #e9d1e2;
border-radius: 100px;
}

.progress-bar{
    background: #ad66a3;
}

.ss-prsnl-skill-chk-sec h6 {
        text-align: center;
    font-weight: 500;
    color: #000;
    font-family: "Neue Kabel W01 Bold";
}

.ss-prsnl-skill-chk-sec {
    margin-top: 30px;
}


.fileUploadInput {
  display: grid;
  grid-gap: 10px;
  position: relative;
  z-index: 1;
}




.fileUploadInput button {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  line-height: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  background-color: #3d2c39;
  border-radius: 0 3px 3px 0;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px 12px 12px 12px;
}
@-moz-document url-prefix() {
  
}


.ss-add-more-sec {
    text-align: center;
    margin-top: 18px;
}

.ss-add-more-sec a {
    color: #b5649e;
    font-weight: 500;
}

.ss-form-group.ss-date-check-div ul {
    list-style: none;
    display: flex;
}

.ss-form-group.ss-date-check-div ul input {
    box-shadow: none;
    display: inline-block;
    width: auto;
}

.ss-form-group.ss-date-check-div label {
    display: inline-block !important;
}

.ss-form-group.ss-date-check-div ul li {
    width: 50%;
}

.ss-form-group.ss-date-check-div ul li:nth-child(2) {
    text-align: right;
}

.ss-pers-info-form-mn-dv ::placeholder{
    color: #000;
}

.ss-refre-deta-hed {
    text-align: center;
    margin-top: 25px;
}

.ss-account-form-lft-1 .ss-form-group select{
        border: 2px solid #3D2C39 !important;
    width: 100%;
    padding: 10px !important;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    border-radius: 12px;
    background: #fff !important;
}
.ss-saved-jb-dtls-dv2{
    display: none;
}

.ss-applyd-jb-dtl-bx-2{
    display: none;
}

.ss-applyd-jb-dtl-bx-3{
    display: none;
}

.active {
    color: #000 ;
    font-weight: 500;
}

.ss-my-jrny-offrd-dtls2{
    display: none;
}

.ss-profile-btn-div button {
    font-weight: 500;
    width: 99%;
    border: 2px solid #3d2c39;
    background: #fff;
    margin: 10px 0;
    padding: 10px 10px 10px 35px;
    color: #3D2C39;
    text-align: left;
    position: relative;
    box-shadow: 10px 10px 0px 0px #403B4BE5;
    border-radius: 10px;
}
.ss-profile-btn-div button img {
    position: relative;
    top: -4px;
    vertical-align: middle;
}

.ss-profile-btn-div button:after {
    content: "";
    position: absolute;
    background-image: url(../img/arrowcircleright.png);
    width: 16px;
    height: 17px;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.ss-profile-btn-div .active:after {
    background-image: url(../img/whitearrowcircleright.png);
}


.ss-profile-btn-div .active {
    background: #3d2c39;
    color: #fff !important;
}

.ss-profile-btn-div button:before {
    content: "";
    position: absolute;
    background-image: url(../img/tickcircle.png);
    width: 18px;
    height: 19px;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.ss-profile-btn-div .active:before {
    background-image: url(../img/tickcircle1.png);

}

.ss-profile-btn-div {
    margin-top: 15px;
}
.ss-vaccnt-immu-form-mn-dv{
    display: none;
}
.ss-profl-refrnc-form-mn-dv{
    display: none;
}
.ss-profl-certif-form-mn-dv{
    display: none;
}



/*job view details*/

.ss-jb-vw-dtls-code {
    position: absolute;
    right: 18px;
    top: 18px;
    text-align: center;
}

.ss-job-dtls-view-bx.ss-job-dtls-vew-big-sec {
    position: relative;
}

.ss-jb-vw-dtls-code h6 {
    font-size: 12px;
    padding-bottom: 0;
}

.ss-jb-vw-dtls-code p {
    font-size: 13px;
}
.ss-jb-hed-dtl{
    font-size: 14px !important;
    padding-bottom:0 !important;
}
.ss-job-dtls-vew-big-sec ul{
    margin-top: 10px;
}


/******Specialty and Experience add list*****/

.ss-speilty-exprnc-add-list ul {
    display: flex;
    align-items: center !important;
    margin-top: 8px;
}

.ss-speilty-exprnc-add-list{
    padding-bottom: 12px;
}

.ss-speilty-exprnc-add-list ul li:nth-child(1) {
    width: 40% !important;
}

.ss-speilty-exprnc-add-list ul li:nth-child(2) {
    width: 40%;
}

.ss-speilty-exprnc-add-list ul li:nth-child(3) {
    width: 20%;
    text-align: right;
}

.ss-speilty-exprnc-add-list button {
    border: 0;
    background: transparent;
}

.ss-opport-mngr-hedr ul {
    list-style-type: none;
    float: right;
}

.ss-opport-mngr-hedr ul li {display: inline-block;margin-left: 14px;}

.ss-opport-mngr-hedr li a {
    color: #8b7e87;
    font-size: 17px;
    font-weight: 500;
}

.ss-opport-mngr-hedr h4 {
    color: #3d2c39;
}

.ss-oppr-mng-frft-mn-dv .ss-opport-mngr-hedr {
    margin-bottom: 25px;
}
.ss-oppr-mng-publish-mn-dv .ss-opport-mngr-hedr {
    padding-bottom: 20px;
}
.ss-opport-mngr-hedr {
    padding-bottom: 20px;
}

.ss-opport-mngr-hedr button {
    background: transparent;
    border: 0;
    font-size: 18px;
    color: #796b76;
    font-weight: 500;
    padding: 0 5px;
}
.ss-nojob-dv-hed {
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
}
.ss-nojob-dv-hed h6 {font-size: 24px;}
.ss-nojob-dv-hed a {
    background: #3d2c39;
    color: #fff;
    padding: 14px 20px;
    display: inline-block;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}
.ss-no-job-mn-dv {
    padding: 180px 0;
}
/***** applay on jobs****/

.ss-apply-on-jb-mmn-dv-box-divs {
    width: 68%;
    margin: auto;
}
.ss-job-apply-on-view-detls-mn-dv {
    width: 68%;
    margin: auto;
    padding: 25px;
    border: 1px solid #111011;
    border-radius: 30px;
}

.ss-job-apply-on-view-detls-mn-dv ul {
    list-style: none;
}

.ss-job-apply-on-tx-bx-hed-dv ul {
    width: 50%;
}

.ss-job-apply-on-tx-bx-hed-dv {
    display: flex;
    align-items: center;
}

.ss-job-apply-on-tx-bx-hed-dv p {
    color: #006BC9;
    font-size: 14px;
    padding-bottom: 5px;
}

.ss-job-apply-on-tx-bx-hed-dv li {
    color: #3D2C39;
    font-weight: 500;
}

.ss-job-apply-on-tx-bx-hed-dv img {margin-right: 5px;}

.ss-job-apply-on-tx-bx-hed-dv ul:nth-child(2) {
    text-align: right;
}

.ss-job-apply-on-tx-bx-hed-dv span {
    font-size: 12px !important;
    color: #006BC9;
}

.ss-job-apply-on-tx-bx-hed-dv h6 {
    color: #3D2C39;
    font-size: 13px;
    font-weight: 500;
}

.ss-jb-aap-on-txt-abt-dv h5 {
    color: #006BC9;
    font-size: 14px;
    padding-bottom: 10px;
}

.ss-jb-aap-on-txt-abt-dv ul {
    display: flex;
}

.ss-jb-aap-on-txt-abt-dv ul li {
    width: 25%;
}

.ss-jb-aap-on-txt-abt-dv {
    margin-top: 20px;
}

.ss-jb-aap-on-txt-abt-dv h6 {
    color: #B5649E;
    font-size: 13px;
    font-weight: 400;
}

.ss-jb-aap-on-txt-abt-dv p {
    color: #3D2C39;
    font-weight: 500;
}

.ss-jb-apply-on-disc-txt h5 {
    color: #006BC9;
    font-size: 14px;
    padding-bottom: 5px;
}

.ss-jb-apply-on-disc-txt {
    margin-top: 10px;
}

.ss-jb-apply-on-disc-txt p {
    font-size: 14px;
}

.ss-jb-apply-on-disc-txt a {
    font-weight: 500;
    color: #3D2C39;
}

.ss-jb-apl-oninfrm-mn-dv h5 {
    color: #006BC9;
    font-size: 14px;
}

.ss-jb-apl-oninfrm-mn-dv {
    margin-top: 25px;
}

.ss-jb-apply-on-inf-hed{
    display: flex;

}

.ss-jb-apply-on-inf-hed li{
width: 50%;
}

ul.ss-s-jb-apl-on-inf-txt-ul li {
    width: 50%;
}

ul.ss-s-jb-apl-on-inf-txt-ul {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
}

ul.ss-s-jb-apl-on-inf-txt-ul span {
    color: #B5649E;
    font-size: 14px;
}

ul.ss-s-jb-apl-on-inf-txt-ul h6 {
    color: #3D2C39;
    font-weight: 500;
    font-size: 14px;
}

ul.ss-s-jb-apl-on-inf-txt-ul p {
    font-size: 14px;
    color: #3D2C39;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
}

.ss-s-jb-apl-bg-blue {
    background: #E6FFDB;
    padding: 5px;
}

.ss-s-jb-apl-bg-pink {
    background: #ffdbcc;
    padding: 5px;
}

.ss-job-apl-on-app-btn button{
    background: #3D2C39;
    width: 100%;
    border-radius: 0;
    padding: 10px;
    border-radius: 100px;
    color: #fff;
    margin-top: 20px;
    font-weight: 500;
}

.ss-journy-svd-jbdtl-dv .ss-job-apply-on-view-detls-mn-dv {
    width: 100%;
}

.apply-disable{
    background: #776b74 !important;
    border:0;
}

.ss-job-view-off-text-fst-dv {
    background: #ffeeef;
    padding: 10px;
    font-size: 14px;
    border-radius: 7px;
}

.ss-job-view-off-text-fst-dv p {
    font-weight: 500;
    color: #3D2C39;
}

.ss-job-ap-on-offred-new-dv .ss-s-jb-apl-on-inf-txt-ul p{
color: #B5649E;
text-decoration: none;
}

ul.ss-s-jb-apl-on-inf-bg-pink {
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

ul.ss-s-jb-apl-on-inf-bg-pink li {
    width: 50%;
    gap: 5px;
    background: #ffeeef;
    padding: 5px;
}

ul.ss-s-jb-apl-on-inf-bg-pink p {
    color: #B5649E;
    text-decoration: none;
}

ul.ss-s-jb-apl-on-inf-bg-pink h6 {
    color: #3D2C39;
    font-weight: 500;
    font-size: 14px;
}

button.ss-acpect-offer-btn {
    width: 100%;
    border: 0;
    background: #52DEC1;
    border-radius: 100px;
    padding: 8px;
}

.ss-job-apl-on-offer-btn ul {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.ss-job-apl-on-offer-btn ul li {
    width: 50%;
}

button.ss-counter-btn {
    width: 100%;
    border: 0;
    background: #fff;
    color: #3D2C39;
    padding: 8px;
    border-radius: 100px;
    border: 1px solid #3D2C39;
}

button.ss-reject-offer-btn {
    background: #B5649E;
    border: 0;
    color: #fff;
    width: 100%;
    padding: 8px;
    border-radius: 100px;
}

button.ss-acpect-offer-btn {
    margin-top: 15px;
}

.ss-counter-ofred-mn-div {
    padding: 25px;
    border: 1px solid #111011;
    border-radius: 30px;
}

.ss-counter-ofred-mn-div h4 {
    padding-bottom: 10px;
    font-size: 28px;
}

.ss-counter-ofred-mn-div img {
    vertical-align: middle;
    position: relative;
    top: -7px;
    margin-right: 9px;
    color: #3D2C39;
}

.ss-counter-form-mn-dv label {
    display: block;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.ss-counter-form-mn-dv select {
    border: 2px solid #3D2C39 !important;
    width: 100%;
    padding: 10px !important;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    border-radius: 12px;
    font-weight: 500;
    font-size: 15px;
}

.ss-counter-form-mn-dv .ss-form-group {
    margin-top: 20px;
}

.ss-counter-form-mn-dv ul {
    list-style: none;
}

.ss-counter-form-uplpls-dv ul {
    display: flex;
    align-items: end;
}

.ss-counter-form-uplpls-dv ul li:nth-child(1) {
    width: 47%;
}

.ss-counter-form-uplpls-dv ul li:nth-child(2) {width: 35%;}

.ss-counter-form-uplpls-dv ul li:nth-child(3) {
    width: 12%;
    position: relative;
    top: 6px;
}

.ss-counter-form-uplpls-dv ul {
    gap: 25px;
    align-items: baseline;
}

ul {}

.ss-counter-form-uplpls-dv .ss-form-group {
    margin-top: 0;
}

.ss-counter-form-uplpls-dv {
    margin-top: 15px;
}

.ss-count-profsn-lins-dv ul {
    display: flex;
}

.ss-count-profsn-lins-dv ul li input {
    width: auto;
}

.ss-count-profsn-lins-dv label {
    display: inline;
}

.ss-count-profsn-lins-dv ul li {
    width: 50%;
}

.ss-count-profsn-lins-dv ul li:nth-child(2) {
    text-align: right;
}

.ss-count-profsn-lins-dv {
    margin-top: 20px;
}

.ss-count-profsn-lins-dv select {
    margin-top: 15px;
}

.ss-countr-vacny-imznt {
    margin-top: 15px;
}

.ss-countr-vacny-imznt ul {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 15px;
}

.ss-countr-vacny-imznt ul li {
    width: 50%;
}

.ss-countr-vacny-imznt ul li:nth-child(2) {
    text-align: right;
}

.ss-counter-immu-plus-div ul {
    display: flex;
    gap: 25px;
}

.ss-counter-immu-plus-div ul li:nth-child(1) {
    width: 88%;
}

.ss-counter-immu-plus-div input {
    border: 2px solid #3D2C39 !important;
    width: 100%;
    padding: 10px !important;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    border-radius: 12px;
    font-weight: 500;
    font-size: 15px;
}


.ss-counter-immu-plus-div {
    margin-top: 20px;
}

.ss-counter-form-mn-dv .ss-form-group input{
     border: 2px solid #3D2C39 !important;
    width: 100%;
    padding: 10px !important;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    border-radius: 12px;
    font-weight: 500;
    font-size: 15px;
}

.ss-count-strt-dte input{
       border: 2px solid #3D2C39 !important;
    width: 100%;
    padding: 10px !important;
    box-shadow: 10px 10px 0px 0px #3D2C39;
    border-radius: 12px;
    font-weight: 500;
    font-size: 15px;
}

.ss-count-strt-dte ul li input{
    box-shadow: none;
}

.ss-counter-buttons-div button {
    width: 100%;
}

button.ss-counter-button {
    background: #3D2C39;
    color: #fff;
    padding: 10px;
    border-radius: 100px;
    margin-top: 25px;
}

button.counter-save-for-button {
    border: 1px solid #3D2C39;
    background: transparent;
    border-radius: 100px;
    font-weight: 500;
    padding: 10px;
    margin-top: 11px;
}

a.ss-jb-prfl-countrsave-ico {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #B5649E;
    color: #fff;
    font-size: 11px;
    font-style: italic;
}

.ss-interview-popup .modal-header{
    position: absolute;
    border:0;
    right: 0;
    top: 0;
    z-index: 9;
}


.ss-interview-dts-pop-dv ul li label {
    padding: 6px 18px !important;
    border-radius: 5px !important;
    border: 0 !important;
    font-family: 'Poppins', sans-serif;
    color: #000000 !important;
    font-size: 14px !important;
}

.ss-interview-dts-pop-dv ul {
    display: flex;
    align-items: center;
}

.ss-interview-dts-pop-dv p {
    padding: 6px 18px !important;
    border-radius: 5px !important;
    border: 0 !important;
    font-family: 'Poppins', sans-serif;
    color: #FF0000 !important;
    font-size: 14px !important;
    font-weight: 500;
}

.ss-interview-dts-pop-dv .ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 1px solid #B5649E;
    background-color: #B5649E;
    color: #fff !important;
    transition: all .2s;
}

.ss-interview-dts-pop-dv h2 {
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #000;
}

.ss-interview-dts-pop-dv button {
    text-align: center;
    background: #3D2C39;
    border: 0;
    color: #fff;
    padding: 10px 40px;
    border-radius: 100px;
    margin-top: 8px;
}

.ss-interview-popup .modal-body{
    padding: 40px 10px;
}

.ss-interview-dts-pop-dv .ks-cboxtags{
    padding: 20px 0 15px;
}

.ss-counter-immu-plus-div ul{
    list-style: none;
}


.ss-jb-dtl-pops-mn-dv .ss-pop-cls-vbtn button{
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 9;
}


@media (min-width: 576px){
.modal-sm {
    --mdb-modal-width: 375px;
}
}

.ss-jb-dtl-pops-mn-dv .modal-body {
    padding: 40px 20px 30px;
}

.ss-jb-dtl-pops-mn-dv .modal-content{
    background: #ffe9f9;
}

.ss-job-dtl-pop-form h4 {
    font-size: 20px;
    text-align: center;
    color: #1A2530;
    padding-bottom: 20px;
    font-weight: 500;
}

.ss-job-dtl-pop-form input{
    border-radius: 13px;
    box-shadow: 10px 10px 0px 0px #403B4BE5;
    border: 1px solid #3D2C39;
    z-index: -9;

}

.ss-jb-dtl-pop-chos-dv button{
    border:0;
}
.ss-job-dtl-pop-sv-btn{
    background: #3D2C39;
    width: 100%;
    border:0;
    padding: 12px;
    border-radius: 100px;
    color: #fff;
    margin-top: 25px;
}

.ss-jb-dtl-pop-chos-dv .fileUploadInput{
    width: 96%;
}


.ss-jb-dtlpop-chck input {
  display: none;
}
.ss-jb-dtlpop-chck  label {
  display: inline-block;
  padding: 0;
  cursor: pointer;
}

.ss-jb-dtlpop-chck  label span {
  position: relative;
  line-height: 0;
  display: flex;
  align-items: center;
}

.ss-jb-dtlpop-chck  label span:before,
.ss-jb-dtlpop-chck  label span:after {
  content: '';
}

.ss-jb-dtlpop-chck  label span:before {
  border: 1px solid #3D2C39;
  width: 19px;
  height: 19px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
}

.ss-jb-dtlpop-chck  label span:after {
  background: #222021;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 0;
  left: 3px;
  transition: 300ms;
  opacity: 0;
  border-radius: 3px;
  bottom: 0;
  margin: auto;
}

.ss-jb-dtlpop-chck label input:checked+span:after {
  opacity: 1;
}
ul.ss-jb-dtlpop-chck {
    list-style: none;
    display: flex;
    padding: 0 10px;
    align-items: center;
    gap: 15px;
}
ul.ss-jb-dtlpop-chck li {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ss-job-dtl-pop-frm-sml-dv {
    text-align: center;
    padding-bottom: 20px;
}

.ss-job-dtl-pop-frm-sml-dv div {
    width: 60px;
    height: 5px;
    background: #E2E4E4;
    margin: auto;
    border-radius: 100px;
}

.ss-job-dtl-pop-form .ss-form-group input {
    width: 96%;
    padding: 12px 15px;
}
.ss-job-dtl-pop-form .ss-form-group select {
    width: 96%;
    padding: 12px 15px;
    border-radius: 13px;
    box-shadow: 10px 10px 0px 0px #403B4BE5;
    border: 1px solid #3D2C39;
}

.ss-jb-dtl-pop-check {
    text-align: right;
    margin-top: 22px;
    margin-bottom: -8px;
}

.ss-jb-dtl-pop-check input {
    box-shadow: 0px 0px;
}
.ss-job-dtl-pop-form-refrnc .ss-form-group{
    margin-bottom: 18px;
}

.ss-job-dtl-pop-form-refrnc .ss-job-dtl-pop-sv-btn{
    margin-top: 10px;
}

.ss-job-dtl-pop-form label{
    color: #000;
    font-weight: 500;
}




.ss-add-more-se {
    text-align: center;
}

.ss-add-more-se a {
    color: #B5649E;
    font-weight: 500;
}

.ss-bell-sec{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}



.side-ads-container {
    height: 80vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
    /* padding: 1rem; */
}


.landing-explore.side-ads-container {
    height: 100vh;
}

/* Adjustments for mobile view */
@media (max-width: 768px) {
    .side-ads-container {
        max-height: 75vh;
        margin-top: 35px;
    }
}